<div class="user-controls wp-collapse wp-block">
  <ul class="user-links">
    <% if user_signed_in? %>
      <li><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-info' %></li>
      <li><%= link_to "New Link", new_link_path, class: 'btn btn-warning' %></li>
    <% end %>
  </ul>
  <div class="search-form">
    <%= form_tag wikis_path, method: :get do %>
      <div class="sidebar-form-group">
        <%= text_field_tag :search, params[:search], class: 'form-field', autocomplete: :off %>
      </div>
      <div class="sidebar-form-group">
        <%= submit_tag "Search Wikis", class: 'wp-button' %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="search-form">
      <%= form_tag links_path, method: :get do %>
        <div class="sidebar-form-group">
          <%= text_field_tag :search, params[:search], class: 'form-field', autocomplete: :off %>
        </div>
        <div class="sidebar-form-group">
          <%= submit_tag "Search Links", class: 'wp-button' %>
        </div>
      <% end %>
    </div>
    <%if current_user.pocket_authorized? %>
      <div class="search-form">
        <p>Search your Pocket account for saved links.</p>
        <%= form_tag links_path, method: :get do %>
          <div class="sidebar-form-group">
            <%= text_field_tag :pocket_search, params[:pocket_search], class: 'form-field', autocomplete: :off %>
          </div>
          <div class="sidebar-form-group">
            <%= submit_tag "Search Pocket for Links", class: 'wp-button' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="authorize-pocket sidebar-form-group">
        <%= button_to "Authorize your Pocket Account", connect_to_pocket_path, class: 'wp-button', method: 'get' %>
      </div>
    <% end %>
  <% end %>
  <div class="search-form">
    <%= form_tag tags_path, method: :get do %>
      <div class="sidebar-form-group">
        <%= text_field_tag :tag_search, params[:tag_search], class: 'form-field', autocomplete: :off %>
      </div>
      <div class="sidebar-form-group">
        <%= submit_tag "Search Tags", class: 'wp-button' %>
      </div>
    <% end %>
  </div>
</div>