<div class="wiki-panel">
  <div class="wiki-header">
    <h2 class="wiki-title"><%= wiki.title %></h2>
    <%= render partial: 'wikis/controls', locals: {wiki: wiki} %>
  </div>
  <div class="wiki-body">
    <p><%= markdown_to_html wiki.body %></p>
  </div>
  <div class="panel-footer">
    <p>Links: <%= links_list(wiki.links) %></p>
    <p>Tags: <%= tags_to_links(wiki.tag_list) %></p>
  </div>
</div>
