<div class="col-md-8">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Edit <%= @wiki.title %></h4>
    </div>
    <div class="panel-body">
      <%= render partial: 'wikis/form', locals: {wiki: @wiki} %>
    </div>
    <div class="panel-footer">
      <p>Links: <%= render partial: 'references/links', locals: {references: @wiki.references } %></p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <%= render partial: 'users/controls' %>
  <% if @wiki.private? %>
    <%= render partial: 'collaborations/collaborators', locals: { wiki: @wiki, collaboration: @collaboration } %>
  <% end %>
  <%= render partial: 'references/edit_panel', locals: { found_links: @found_links } %>
</div>