<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Pocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="app-header">
      <nav>
        <div class="nav-logo">
          <%= link_to (user_signed_in? ? wikis_path : root_path), class: 'logo' do %>
            <%= image_tag 'Logo@2x.png' %>
          <% end %>
        </div>
        <ul class="nav-left">
          <li><%= link_to "Browse Wikis", wikis_path %></li>
          <li><%= link_to "Browse Tags", tags_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Browse Links", links_path %></li>
          <% end %>
        </ul>
        <% if flash[:notice] %>
          <div class="flash">
            <button type="button" class="close-flash" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
          <% elsif flash[:error] %>
          <div class="flash">
            <button type="button" class="close-flash" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="flash">
            <button type="button" class="close-flash" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </nav>
    </div>
    <div class="sidebar">
      <nav>
          <ul class="nav-right">
            <% if user_signed_in? %>
              <li><%= link_to (current_user.username || current_user.email), user_path(current_user) %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
